<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            {{ siteTitle }} | TodoraApp
        </title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("css/reboot.css") }}">
        <link rel="stylesheet" href="{{ asset("css/layout.css") }}">
        <link rel="stylesheet" href="{{ asset("css/top-bar.css") }}">
        <link rel="stylesheet" href="{{ asset("css/projects-list.css") }}">
        <link rel="stylesheet" href="{{ asset("css/columns.css") }}">
        <link rel="stylesheet" href="{{ asset("css/tasks-list.css") }}">
        <link rel="stylesheet" href="{{ asset("css/checkbox.css") }}">

        <link rel="icon" type="image/png" sizes="any" href="{{ asset('favicon/favicon.png') }}">
    </head>
    <body>
        <main>
            <div class="top-bar">
                <h1 class="top-bar__header">
                    <a href="{{ path("todora.board.index") }}" class="top-bar__link">
                        Todora
                    </a>
                </h1>
                <hr class="top-bar__hr">
            </div>

            {% block content %}{% endblock %}
        </main>

        <noscript>
            JS is disabled. App can't work without enabled JavaScript.
        </noscript>

        {% if app.environment == "dev" %}
            <script src="http://{{ app.request.httpHost }}:35729/livereload.js?snipver=1" async></script>
        {% endif %}

        <script defer>
            const tasksCheckboxes = document.querySelectorAll(".js-task-complete");

            tasksCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", event => {
                    const element = event.target;
                    const taskId = element.getAttribute("id");
                    const url = element.dataset.url;

                    const headers = new Headers();
                    const body = {taskId: taskId};

                    headers.append("X-Requested-With", "XMLHttpRequest");

                    fetch(
                        url,
                        {
                            method: "PATCH",
                            body: JSON.stringify(body),
                            credentials: "same-origin",
                            headers: headers
                        }
                    ).then(response => {
                        if (response.status !== 200) {
                            alert("Something goes wrong: " + response.statusText);

                            return;
                        }

                        window.location.reload(true);
                    });
                });
            });
        </script>
    </body>
</html>
