{% set siteTitle = "Your tasks" %}

{% extends "@Todora/layout.html.twig" %}

{% block content %}
    <div class="columns">
        <div class="columns__column columns__column--left">
            <div class="projects-list">
                <nav>
                    <ul class="projects-list__list">
                        {% for project in projects %}
                            <li class="projects-list__list-item">
                                <a class="projects-list__link{{ loop.index == 1 ? " projects-list__link--active" : '' }}" href="#">
                                    {{ project.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="columns__column columns__column--right">
            <div class="tasks-list">
                {% for project in projects %}
                    <ul class="tasks-list__list {{ loop.index == 1 ? 'tasks-list__list--show' }}"
                        data-project-id="{{ project.id }}"
                    >
                        {% for task in project.tasks %}
                            <li class="tasks-list__task">
                                <div class="checkbox">
                                    <input
                                        class="checkbox__input js-task-complete"
                                        type="checkbox"
                                        id="{{ task.id }}"
                                        data-url="{{ path('todora.api.task.complete') }}"
                                        {{ task.done ? "checked" }}
                                    >

                                    <label for="{{ task.id }}" class="checkbox__label">
                                        Complete
                                    </label>
                                </div>

                                <span>{{ task.description }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
