<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            {{ siteTitle }} | TodoraApp
        </title>

        {#<link rel="icon" type="image/png" sizes="any" href="{{ asset('favicon/favicon.png') }}">#}

        {{ encore_entry_link_tags('css/vendor/bootstrap') }}
        {{ encore_entry_link_tags('css/todora') }}
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg  navbar-dark bg-primary mb-3">
            <a class="navbar-brand" href="{{ path('todora.home') }}">
                Todora
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if app.request.attributes.get('_route') != 'todora.login' and not is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <button type="button"
                            class="navbar-btn ml-auto btn btn-info"
                            data-toggle="modal"
                            data-target="#modal-login"
                    >
                        Login
                    </button>
                </div>
            {% endif %}
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block modal %}{% endblock %}

        {{ encore_entry_script_tags('js/vendor/bootstrap') }}
    </body>
</html>
